# Name of the vhost to create
$host_name = "xxx.dev.lan"

# VM IP
$network_ip = "192.168.50.100"

# Use NFS?
$use_nfs = true

# Box name
$box = "debian-7.7.0-amd64"

# Box url
$box_url = "https://github.com/kraksoft/vagrant-box-debian/releases/download/7.7.0/debian-7.7.0-amd64.box"
